:root {
    --clr-book-read-border: rgb(0, 100, 0);
    --clr-book-read-bg: rgb(50, 150, 50);
    --clr-book-notread-border: rgb(200, 120, 0);
    --clr-book-notread-bg: orange;
}

@font-face {
    font-family: handwritten;
    src: url(./fonts/KaushanScript-Regular.woff2);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

body {
    background-image: linear-gradient(90deg, rgb(150, 50, 50), rgb(100, 0, 0), rgb(150, 50, 50));
}

main {
    margin: auto;
    padding: 0 50px;
    max-width: 1220px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    & h1 {
        font-family: handwritten, 'Times New Roman', Times, serif;
        color: white;
        text-align: center;
        text-decoration: underline;
        margin: 2rem;

        & + p {
            text-align: center;
            font-family: inherit;
            color: white;

            & a {
                color: rgb(150, 150, 150);
            }
        }
    }

    & form {
        padding: 20px;
        column-gap: 20px;
        row-gap: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        & label {
            font-size: 1.2rem;
            color: white;
        }

        & input[type=text],
        & input[type=tel] {
            grid-row: 2;
            font-size: 1.5rem;
            font-family: inherit;
            outline: none;
            padding: 0 0.8rem;
            border-radius: 1.5rem;
        }

        .checkbox {
            grid-column: span 3;
            justify-self: center;
            grid-row: 3;

            & #read {
                width: 1.2rem;
                height: 1.2rem;
                align-self: end;
            }
        }

        & .color-palette {
            grid-column: span 3;
            grid-row: 4;
            justify-self: center;
            display: grid;
            grid-template-columns: repeat(8, 40px);
            grid-template-rows: 1.7rem 40px;
            gap: 20px;

            & p {
                color: white;
                font-size: 1.5rem;
                grid-column: span 8;
                align-self: center;
            }

            & .color-label {
                --book-cover-clr-selected: rgba(150, 150, 150, 0.4);
                border: 4px solid var(--book-cover-clr-selected);
            }

            & input[type=radio]:checked + .color-label {
                --book-cover-clr-selected: rgb(10, 10, 10);
                border-style: dashed;
            }

            & .white {
                background-color: white;
            }
            & .red {
                background-color: red;
            }
            & .orange {
                background-color: orange;
            }
            & .yellow {
                background-color: yellow;
            }
            & .green {
                background-color: green;
            }
            & .blue {
                background-color: blue;
            }
            & .indigo {
                background-color: indigo;
            }
            & .violet {
                background-color: violet;
            }    
        }

        & #add-book-button {
            margin-top: 50px;
            border-radius: 10px;
            padding: 0.4rem 2rem;
            grid-column: 1 / 4;
            grid-row: 5;
            font-family: inherit;
            font-size: 1.5rem;
            justify-self: center;
        }
    }

    & .bookshelf {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 280px);
        grid-auto-rows: 350px;
        gap: 20px;

        & .book {
            --book-cover: white;
            position: relative;
            padding: 30px;
            font-size: 20px;
            display: grid;
            grid-template-rows: 1fr 2fr repeat(6, 1fr);
            gap: 5px;
            align-content: space-between;
            align-items: start;

            & * {
                z-index: 1;
            }

            &::before {
                position: absolute;
                content: "";
                width: 260px;
                height: 330px;
                top: 10px;
                left: 10px;
                background-color: var(--book-cover);
            }

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-image: url("./images/book-frame-t.png");
            }

            & P {
                overflow: hidden;

                &:not(.book-header) {
                    font-family: handwritten, 'Times New Roman', Times, serif;
                }

            }

            & .book-header {
                font-weight: 600;
                font-family: 'Courier New', Courier, monospace;
            }


            & .read,
            & .remove-book {
                font-family: inherit;
                font-size: inherit;
                text-align: center;
                border-radius: 20px;
                cursor: pointer;
            }

            & .true {
                border: 3px solid var(--clr-book-read-border);
                background-color: var(--clr-book-read-bg);
                color: white;
            }

            & .false {
                border: 3px solid var(--clr-book-notread-border);
                background-color: var(--clr-book-notread-bg);
            }

            & .remove-book {
                color: white;
                background-color: rgb(200, 50, 50);
                border: 3px solid rgb(150, 0, 0);
            }
        }
    }
}