:root {
    --clr-input-grey: rgb(220, 220, 220);
    --clr-input-bg-grey: rgb(180, 180, 180);
    --clr-book-read-border: rgb(0, 100, 0);
    --clr-book-read-bg: rgb(50, 150, 50);
    --clr-book-notread-border: rgb(200, 120, 0);
    --clr-book-notread-bg: orange;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

main {
    margin: auto;
    max-width: 1220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    h1 {
        text-align: center;
        text-decoration: underline;
        margin: 2rem;
    }

    form {
        padding: 20px;
        column-gap: 20px;
        row-gap: 1rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 3fr;

        label {
            font-size: 1.5rem;
        }

        input {
            grid-row: 2;
            font-size: 1.5rem;
            font-family: inherit;
            color: var(--clr-input-grey);
            outline: none;
            padding: 0 0.8rem;
            border-radius: 1.5rem;
            background-color: var(--clr-input-bg-grey);
        }

        #add-book-button {
            margin-top: 50px;
            grid-column: 2 / 4;
            grid-row: 3;
            font-size: 1.5rem;
            padding: 0.2rem auto;
        }
    }

    .bookshelf {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 280px);
        grid-auto-rows: 350px;
        gap: 20px;

        .book {
            background-color: skyblue;
            padding: 30px;
            font-size: 1.5rem;
            display: grid;
            gap: 10px;
            align-content: space-between;
            background-image: url("./images/book-frame.png");

            P {
                overflow: hidden;
            }

            .book-data {
                font-weight: 600;
            }

            .read {
                text-align: center;
                border-radius: 20px;
            }

            .true {
                border: 3px solid var(--clr-book-read-border);
                background-color: var(--clr-book-read-bg);
                color: white;
            }

            .false {
                border: 3px solid var(--clr-book-notread-border);
                background-color: var(--clr-book-notread-bg);
            }

            .remove-book {
                color: white;
                font-family: inherit;
                font-size: inherit;
                background-color: rgb(200, 50, 50);
                border: 3px solid rgb(150, 0, 0);
                border-radius: 20px;
            }
        }
    }
}