:root {
    --clr-input-grey: rgb(220, 220, 220);
    --clr-input-bg-grey: rgb(100, 100, 100);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

main {
    margin: auto;
    max-width: 1220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    h1 {
        text-align: center;
        text-decoration: underline;
        margin: 2rem;
    }

    form {
        padding: 20px;
        column-gap: 20px;
        row-gap: 1rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 3fr;

        label {
            font-size: 1.5rem;
        }

        input {
            grid-row: 2;
            font-size: 1.5rem;
            font-family: inherit;
            color: var(--clr-input-grey);
            outline: none;
            padding: 0 0.8rem;
            border-radius: 1.5rem;
            background-color: var(--clr-input-bg-grey);
        }

        #add-book-button {
            margin-top: 50px;
            grid-column: 2 / 4;
            grid-row: 3;
            font-size: 1.5rem;
            padding: 0.2rem auto;
        }
    }

    .bookshelf {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 280px);
        grid-auto-rows: 350px;
        gap: 20px;

        .book {
            background-color: red;
            padding: 10px;
            display: grid;
            grid-template-columns: 60px 190px;
            gap: 10px;
            align-content: start;

            .book-data {
                font-weight: 600;
            }

            .remove-book {
                grid-column: span 2;
                justify-self: center;
                width: 60%;
            }
        }
    }
}