main {
    margin: auto;
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    h1 {
        text-align: center;
    }

    form {
        display: grid;

    }

    .bookshelf {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        grid-auto-rows: 280px;
        gap: 20px;

        .book {
            background-color: red;
        }
    }
}